<%- include('../partials/header.ejs') %>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-9 col-md-4">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-5">Créer un compte !</h1>
              </div>
              <form class="user needs-validation" method="post" novalidate>
                <%- include('../inputs/fullname.ejs') %>
                <!--  -->
                <%- include('../inputs/email.ejs') %>
                <!--  -->
                <%- include('../inputs/password.ejs') %>
                <!--  -->
                <button
                  type="submit"
                  class="btn btn-primary btn-user btn-block"
                >
                  Créer un compte
                </button>
              </form>
              <hr />
              <div class="text-center">
                <a class="small" href="/reset">Mot de passe oublié ?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login"
                  >Vous avez déjà un compte ? Connectez-vous !</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('../partials/footer.ejs') %>

<script>
  // Bootstrap validation script
  (function () {
    "use strict";
    // Fetch the register form element
    var form = document.querySelector(".needs-validation");
    // Add submit event listener to the form
    form.addEventListener(
      "submit",
      function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add("was-validated");
      },
      false
    );
  })();
</script>
